@import "tailwindcss";
.contenedor {
  display: grid;
  grid-template-columns: clamp(220px, 18vw, 280px) 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    "aside header"
    "aside main";
  height: 100dvh;
}

.aside {
  grid-area: aside;
  padding: 20px;
  /*background-color: #090f20;*/
  border: 1px solid rgba(128, 128, 128, 0.461);
}
.main {
  grid-area: main;
  padding: 20px;
  /*background-color: #020617;*/
}

.header {
  border: 1px solid rgba(128, 128, 128, 0.244);
  grid-area: header;
  /*background-color: #020617;*/
  display: flex;
  align-items: center;
  padding: 24px;
}
